.flex_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header{
    font-size: large;
    font-weight: 700;
}

.my_div{
    border: 1px solid red;
    margin: 0;
    
    
}



.cont_grid{
width: 800px;
height: 800px;
border: 1px solid black;
display: flex;
flex-wrap: wrap;



}